<div class="col">
    <div class="card h-100 shadow-sm">
        <img src="@ProductArgs.Image" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-primary">@ProductArgs.Name</span>
            </div>
            <h5 class="card-title">@ProductArgs.Comment</h5>
            @if (ProductArgs.Discount > 0)
            {
                <span class="text-decoration-line-through">@ProductArgs.Price€</span>
                <span class="text-danger m-2">@(ProductArgs.Price * ProductArgs.Discount / 100)€</span>
            }
            else
            {
                <span>@ProductArgs.Price€</span>
            }
        </div>
    </div>
</div>