@if(products.Any()){
<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;"> 
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> 
       @foreach (var product in products){
       @* <Virtualize Context="product" Items="@products">*@
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="@product.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-primary">@product.Name</span>
                        </div>
                        <h5 class="card-title">@product.Comment</h5>
                        @if (product.Discount > 0)
                        {
                            <span class="text-decoration-line-through">@product.Price€</span>
                            <span class="text-danger m-2">@(product.Price * product.Discount / 100)€</span>
                        }
                        else
                        {
                            <span>@product.Price€</span>
                        }
                    </div>
                </div>
            </div>
            @*</Virtualize>*@
        }
        
</div> 
</div> 
}